@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url(Images/sky-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.container{
    height: 100%;
    align-content: center;
}

.card{
    margin-top: auto;
    margin-bottom: auto;
    min-height: 300px;
    min-width: 500px;
}